<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">MEAN Auth App</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="authService.isLoggedIn()" routerLinkActive="active">
            <a routerLink="/dashboard">Dashboard</a>
          </li>
          <li *ngIf="authService.isLoggedIn()" routerLinkActive="active">
            <a routerLink="/profile">Profile</a>
          </li>
          <li  *ngIf="!authService.isLoggedIn()" routerLinkActive="active">
            <a routerLink="/login">Login</a>
          </li>
          <li  *ngIf="!authService.isLoggedIn()" routerLinkActive="active">
            <a routerLink="/register">Register</a>
          </li>
          <li *ngIf="authService.isLoggedIn()" routerLinkActive="active">
            <a href="#" (click)="onLogoutClick()">Logout</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>